.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body{
  overflow-y:scroll;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.greytext{
  color:#555!important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-brand{
  font-family: "Fjalla One", sans-serif!important;
  color:#228b22!important;
  font-weight:750;
  font-size:32px;
 }
 .navbar{
     background-color:white!important;
 }
ul.navbar-nav li,.nav-link{
  color:#555!important;
  
  
}
.btn-primary{
    background-color:forestgreen!important;
    border:1px solid forestgreen!important;
    font-size:30px!important;
}
.btn-primary:hover{
    border:1px solid forestgreen!important;
}

li.active{
  font-weight:600;
}
ul.navbar-nav {
margin-left:35%!important;

}
.App {
  text-align: center;
  background-color: #fff;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.Card {
  margin-top:0px!important;
  background-color: white;
  padding: 64px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  min-height: 50vh;

}

.Dropzone {
  height: 250px;
  width: 250px;
  background-color: #fff;
  border: 2px dashed rgb(187, 186, 186);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
}

.Icon {
  opacity: 0.3;
  height: 64px;
  width: 64px;
}

.FileInput {
  display: none;
}

.Highlight {
  background-color: rgb(188, 185, 236);
}

.Upload {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  text-align: left;
  overflow: hidden;
}

.Content {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  box-sizing: border-box;
  width: 100%;
}

.Files {
  margin-left: 32px;
  align-items: flex-start;
  justify-items: flex-start;
  flex: 1;
  overflow-y: auto;
}

.Actions {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 32px;
}

.Title {
  margin-bottom: 32px;
  color: #555;
}

.Filename {
  margin-bottom: 8px;
  font-size: 16px;
  color: #555;
}

button.btn {
  font-family: "Fjalla One", sans-serif!important;
  font-size: 18px;
  display: inline-block;
  height: 36px;
  min-width: 88px;
  padding: 6px 16px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  border-radius: 2px;
  background: forestgreen;
  margin-top:20px;
  color: #fff;
  outline: 0;
  left: 0;
}

button.btn:disabled {
  background: rgb(189, 189, 189);
  cursor: default;
}

button.btn:hover{
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box; 
  color:#fff!important;
}

button.btngray{
  font-family: 'Roboto medium', sans-serif;
  font-size: 14px;
  display: inline-block;
  height: 36px;
  min-width: 88px;
  padding: 6px 16px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  border-radius: 2px;
  background: #808080;
  margin-top:20px;
  color: #fff;
  outline: 0;
}

.errorDiv{
  font-family: "Fjalla One", sans-serif!important;
  color:#6c757d!important;
}

.header-img-container{
  text-align:center!important;
}

label{
  font-size:18px;
  font-weight:700;
  font-family: "Fjalla One", sans-serif!important;
color:#555;
text-align: left;
float: left;
}

button.disabled{
  background-color:#555!important;
  pointer-events: none;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.errorSpan{
  color:red;
  font-size:16px;
  text-align: left;
float: left;
}

small{
  font-size:14px;
  text-align: left;
float: left;
}

.form-control{
  border:1px solid #555;
}
.form-control:hover,.form-control:focus{
  box-shadow:none;
  border:1px solid forestgreen;
}